<button class="btn btn-info" (click)="onDisplayDetails()">
  Display Details
</button>

<div *ngIf="displayDetails"><p>These are some wonderful details!</p></div>
 <div *ngFor="let logItem of displayLog; let i = index"
[ngStyle] = "{backgroundColor: i >= 4 ? 'blue' : 'transparent'}"
[ngClass]= "{'moreThanFive': i >= 4}"

>You clicked that button {{ logItem }} times.
</div>

<!--
1.Add A button which says 'Display Details"'
2. Add a paragraph with any content of your Choice (e.g. 'Secret Password = tuna')
3. Toggle the displaying of that paragraph with the button created in the first step
4. Log all Button clicks in an array and output that array below the secret paragraph ( maybe log a timestamp or simply an incrementing number)
5. Starting at the 5th log item, give all future log items a blue background via ngStyle and white color via ngClass

-->
